.container{
    width: 100%;
    height: 80vh;
    
}

.head{
    height: 5vh;
    color: orange;
    font-size: 50px;
    text-decoration: underline;
    text-shadow: 2px 2px 2px  rgb(20, 20, 20);
}
.details{
    width: 70%;
    height: 80vh;
    margin-top: 50px;
    box-shadow: 2px 2px 5px 5px black;
    margin-left: 200px;
    background-color: rgba(88, 85, 85, 0.308);
    border-radius: 20px;
}

div p{
    font-size: 20px;
}
